<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Vancouver Shelter</title>
</head>
<body>
    <header class="headerwrapper reduced">
        <div class="container-header">
            <div class="inner-header-container header-sticky" id="stickyheader">
                <div class="header-section">
                    <div class="logo-img">
                        <a href="/index"><img src="css/images/logo_.png"></a>
                    </div>
                    <div class="header-texts">
                        <p>Vancouver</p>
                        <p>Beloved Shelter</p>
                    </div>
                </div>
                <div class="menu-toggle">
                    <nav class="navbar">
                        <ul class="nav-menu">
                            <li class="nav-item">
                                <a href="/index" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="/team" class="nav-link">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a href="/events" class="nav-link">Events</a>
                            </li>
                            <li class="nav-item">
                                <a href="/adopt" class="nav-link" id="active">Adopt</a>
                            </li>
                            <li class="nav-item">
                                <a href="/volunteer" class="nav-link">Volunteer</a>
                            </li>
                        </ul>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-content small">
            <div class="content-container">
                <p>Our Animals</p>
                <h1>Information and Pets for adoption</h1>
            </div>
        </div>
        <div class="button-area">
            <div class="donate-button">
                <button name="submit" class="donatebutton"><span>Donate Now</span></button>
            </div>
        </div>
    </header>
    <main>
        <section class="general_info">
            <div class="row">
                <p>Adoption Information</p>
                <h2>Important to know before you apply for an adoption</h2>
                <hr>
            </div>
            <article class="adoption">
                <h3>General Criteria</h3>
                <p>Our heart hopes to find our shelter empty. But as to do such great work, we have to go beyond to guarantee that every one of our animals finds a suitable and loving home.</p>
                <p>In order to achieve this, we hope you understand we need to follow some specifics.In order for you application start being analyzed, you will need to meet the following criteria:</p>
                <ul>
                    <li>You need to live in the Vancouver area</li>
                    <li>You need to be able to pick up the dog/cat at the shelter</li>
                    <li>You need to be 21 years old or older</li>
                </ul>
            </article>
            <article class="adoption">
                <h3>Children and Other Pets</h3>
                <p>In general, only specific dogs will be approved for a family with kids under 8 years old. As much as we'd love to save as much animals as we can, the safety of the animals, as well as the kids, has to be a priority. For this reason, we understand that a child so young might not understand the care and responsabilities that a pet demands.</p>
                <p>Families that already have a pet must read the animal profile really carefully. We'll add as much information as possible, to the best of our knowledge. So if a bio says that the animal won't adjust with another pet, we'll likely not approve an application if you already have a pet. We cannot guarantee the animals we'll get along and that could be dangerous.</p>
            </article>
            <article class="adoption">
                <h3>Spay/Neuter</h3>
                <p>In general, all our animals will have been spayed or neutered, with the exceptions of puppies and animals in recovery who can't go under surgery at the moment.</p>
                <p>For puppies, the animals must be spayed/neutered once they reach 9 months. For the animals in recovery, as soon as they are cleared by a vetenerian.</p>
                <p>Please note that this is a cost to be beared by the adopters.</p>
            </article>
        </section>
        <section class="general_info">
            <div class="row">
                <p>What to Expect</p>
                <h2>The Adoption Process</h2>
                <hr>
            </div>
            <div class="adoption">
                <h3>Fill out the Application Form</h3>
                <p>At the end of the page, you'll find the form. Please note that your chances are higher if you select more than one animal.</p>
                <p>It could take a few days to have your initial application read, so we ask you a little of patience.</p>
            </div>
            <div class="adoption">
                <h3>Phone Interview</h3>
                <p>The purpose here will be to discuss your application and clarify any questions we or you might have. It can take around 15 minutes and will be mostly around the application form, rather than the animal.</p>
                <p>You can take the opportunity to know more about being an adopter.</p>
            </div>
            <div class="adoption">
                <h3>Home Check</h3>
                <p>This can be done in person or via a video call. The purpose is to ensure your home is prepared for the new pet. Potential scape areas and safety hazards will be adressed.</p>
            </div>
            <div class="adoption">
                <h3>Approval</h3>
                <p>Yay! At this stage, you will receive an email with hopefully the approval of your application.</p>
                <p>Please note that, as much as possible, we will try to match you with the dog you chose on your application. But that's not always possible, since we can receive several applications for the same animal.</p>
            </div>
            <div class="adoption">
                <h3>Go to the Shelter</h3>
                <p>At this stage, you will be invited to the Shelter to either pick up the dog/cat you were approved for, or to meet our other animals, in case the one you initially chose was already adopted.</p>
                <p>If you are taking your new pet home, be prepared to pay the adoption fee, and bring a martingale collar.</p>
            </div>
            <div class="adoption">
                <h3>Enjoy!</h3>
                <p>You will be making us really happy taking your new pet home. But don't be a stranger!</p>
                <p>Feel free to send us any pictures of all the fun, or tag us in the social media. The more people who know what we do, the better!</p>
            </div>
        </section>
        <section class="animals">
            <div class="row">
                <p>Pets</p>
                <h2>Meet Your Potential New Pet</h2>
                <hr>
            </div>
            <div class="pets_wrapper">
                <% if (typeof animals != 'undefined') { %> 
                    <% for(let i = 0; i < animals.length; i++) { %>
                        <div class="pet">
                            <div class="pet_img">
                                <img src="<%= animals[i].picture %>">
                            </div>
                            <div></div>
                            <div class="pet_description">
                                <h3><%= animals[i].pet_name %></h3>
                                <table class="table_pet">
                                    <thead class="thead_pet">
                                        <tr class="tr_pet">
                                            <td class="td">Age:</td>
                                            <td class="td">Weight:</td>
                                            <td class="td">Type:</td>
                                            <td class="td">Breed:</td>
                                            <td class="td">Additional Info:</td>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody_pet">
                                        <tr class="tr_pet">
                                            <td class="td"><%= animals[i].age %> years</td>
                                            <td class="td"><%= animals[i].wieght %> lbs</td>
                                            <td class="td"><%= animals[i].type %> years</td>
                                            <td class="td"><%= animals[i].breed %> years</td>
                                            <td class="td"><%= animals[i].additional %> years</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
            <br>
            <div class="row">
                <hr>
                <br>
            </div>
        </section>
        <section class="adoption_form">
            <div class="row">
                <p>Decided?</p>
                <h2>If you wish to go ahead, please fill out the form </h2>
                <hr>
                <p id="black">Do not hesitate in contact us</p>
                <br>
                <p>phone us at</p>
                <p id="black">(778) 123 4567</p>
                <br>
                <p>Email us at</p>
                <p id="black">contact@belovedshelter.com</p>
            </div>
            <div class="form">
                <div class="form_texts">
                    <p>New Adopter</p>
                    <p>All the information is required</p>
                </div>
                <form action="get">
                    <label>Full Name</label>
                    <input type="text" placeholder="Name *">
                    <label>Email</label>
                    <input type="email"placeholder="Email *">
                    <label>Phone Number</label>
                    <input type="tel" placeholder="Phone Number *">
                    <label>Adress</label>
                    <input type="text" placeholder="Address *">
                    <label>City</label>
                    <input type="text" placeholder="City">
                    <fieldset>
                        <label>Animal type</label>
                        <input type="checkbox" name="dog" id="dog" value="dog">
                        <label for="dog">Dog</label>
                        <input type="checkbox" name="cat" id="cat" value="cat">
                        <label for="cat">Cat</label>
                    </fieldset>
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message:"></textarea>
                    <br>
                    <div class="load_more">
                        <button type="submit"><span>Submit</span></button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo-footer">
            <div class="logo-footer-img">
                <a href="/index"><img src="css/images/logo_white.png"></a>
            </div>
            <div class="header-texts">
                <p>Vancouver</p>
                <p>Beloved Shelter</p>
            </div>
        </div>
        <div class="icons-footer">
            <a href="#"><i class="fa-brands fa-instagram-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-snapchat-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-twitter-square fa-2x"></i></a>
        </div>
        <div class="copyright-footer">
            <p>&copy;Copyright | Caroline 2022.</p>
        </div>
    </footer>
    <script src="/scripts/scripts.js"></script>
    <script src="https://kit.fontawesome.com/1ce1c0ec70.js" crossorigin="anonymous"></script>
</body>
</html>